# Enable Rewrite Engine
RewriteEngine On

# Set base directory
RewriteBase /api_php/

# If request is for a real file or directory, serve it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php
RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]

# Disable directory listing
Options -Indexes

# Set default charset
AddDefaultCharset UTF-8
